* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

nav {
  background: #fff;
  z-index: 3;
}

.nav-wrapper {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}

/* LOGO SECTION */
.logo {
  height: 10vh;
  width: 20%;
  display: flex;
  align-items: center;
}

.logo h1 {
  padding: 0 0.5rem;
}

.logo-sign {
  margin-left: 3rem;
  font-family: "Pacifico", cursive;
  font-size: 3rem;
}

.logo-name {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
}

/* LINKS SECTION */
.links-wrapper {
  height: 10vh;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.links-wrapper a {
  text-decoration: none;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: #3f395f;
}

/* Buttons Sectino */
.buttons-section {
  height: 10vh;
  width: 26%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn {
  height: 4rem;
  min-width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn a {
  text-decoration: none;
  color: #101336;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 0 1rem;
}

.btn-1 {
  background: #ccf1f4;
}

.btn-2 {
  background: #d2cfdb;
}

/* HERO 1 */
.hero-section-one {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e5f8f9;
}

.text-section {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 26rem;
  z-index: 2;
}

.language-btn {
  height: 4rem;
  width: 12rem;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem;
}
.language-btn img {
  height: 24px;
  width: 24px;
}

/* Big text */

.big-text {
  width: 100%;
  margin: 4rem 0;
}
.big-text h1 {
  font-size: 4rem;
  font-family: fantasy;
  color: #1a1342;
  font-family: "Poppins", sans-serif;
}

/* Learn more button */
.more-btn {
  height: 4rem;
  width: 12rem;
  background: #3bbbc8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.more-btn a {
  text-decoration: none;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #1c1e4b;
  font-weight: bold;
}

.earth-background-image {
  height: 100vh;
  width: 80%;
  position: absolute;
  top: 0;
  right: 0;
  object-fit: cover;
  z-index: 1;
  overflow: hidden;
}

/* HERO SECTION JUST TEXT HERO */
.hero-text-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-text-section h3 {
  font-size: 1.4rem;
  font-family: "Poppins";
  font-weight: 500;
}

.hero-text-section h1 {
  font-size: 4rem;
  color: #171040;
  font-family: "Poppins";
  margin: 4rem 0;
}

.hero-text-section p {
  color: #544d75;
  font-size: 1.1rem;
  font-family: "Poppins";
}
